
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$medGray: #999;
$lightGray: #ccc;
$xlightGray: #f2f2f2;
$white: #fff;
$accent: #50a162;
$darkAccent: #2b803e;

// Font stacks
@import 'https://fonts.googleapis.com/css?family=Oswald:300';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Lora';

$text: 'Lora', serif;
$headline: 'Oswald', sans-serif;
$normal: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Mobile breakpoints
@mixin phone {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1000px) {
    @content;
  }
}
