
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$medGray: #999;
$lightGray: #ccc;
$xlightGray: #f2f2f2;
$white: #fff;
$accent: #50a162;
$darkAccent: #2b803e;

// Font stacks
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Lora';

$headline: 'Open Sans Condensed', sans-serif;
$text: 'Lora', serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
